<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

	{% include meta.html %}

	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css" />
	<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

</head>
<body>

	<nav class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</button> <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.name }}</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<form class="navbar-form navbar-right" role="search">
					<div class="form-group">
						<input class="form-control" type="text">
					</div>
					<button type="submit" class="btn btn-default">
						Search
					</button>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="{{ site.baseurl }}/">Blog</a>
					</li>
					<li>
						<a href="{{ site.baseurl }}/about">About</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="page-header">
				<h1>
					{{ site.name }}<br><small>{{ site.description }}</small>
				</h1>
				{% include svg-icons.html %}
			</div>

		</div>
		<div class="col-md-8">
			<div class="row">
				<div id="main" role="main">
					{{ content }}
				</div>
			</div>
		</div>
	</div>
</div>

	{% include analytics.html %}
	<script src="{{ site.baseurl }}/js/jquery.min.js"></script>
	<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
	<script src="{{ site.baseurl }}/js/scripts.js"></script>
  </body>
</html>
